<div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
        <div class="card z-depth-3">
            <div class="card-content blue-grey-text text-darken-1">
                <span class="card-title">
                    <strong>DETAIL OF {{hero.name | uppercase}}</strong>
                </span>
                <ul>
                    <li>
                        <h6>Id: {{hero.id}}</h6>
                    </li>
                    <li>
                        <h6>Name: {{hero.name}}</h6>
                    </li>
                </ul>
            </div>
            <div class="card-action">
                <a class="blue-grey-text text-darken-1 valign-wrapper" (click)="goBack()">
                    <i class="material-icons">arrow_back</i> Go back
                </a>
            </div>
        </div>
    </div>
</div>
