<div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
        <div class="card z-depth-3">
            <div class="card-content blue-grey-text text-darken-1">
                <span class="card-title">
                    <strong class="valign-wrapper">
                        LISTS OF HEROES
                        <a class="blue-grey-text text-darken-1 valign-wrapper" (click)="reloadHeroes()">
                        &nbsp;<i class="material-icons">sync</i>
                        </a>
                    </strong>
                </span>
                <div class="collection z-depth-2">
                    <a class="collection-item blue-grey-text text-darken-1"
                       *ngFor="let hero of heroes"
                       routerLink="/detail/{{hero.id}}">
                        {{hero.name}}
                    </a>
                </div>
            </div>
            <div class="card-action valign-wrapper">
                <div class="row valign-wrapper">
                    <div class="input-field col s6">
                        <input placeholder="Hero new name" class="validate" [(ngModel)]="newHeroName">
                    </div>
                    <div class="input-field col s6">
                        <a class="blue-grey-text text-darken-1 valign-wrapper" (click)="addHero()">
                            <i class="material-icons">add_circle</i>&nbsp;Add new hero
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
