<div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
        <div class="card z-depth-3">
            <div class="card-content blue-grey-text text-darken-1">
                <span class="card-title">
                    <strong>Historic of selected Heroes ({{messageService.messages.length}} selected)</strong>
                </span>
                <table *ngIf="messageService.messages.length > 0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Hero name</th>
                            <th>Added date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let message of messageService.messages">
                            <td>{{message['id']}}</td>
                            <td>{{message['name']}}</td>
                            <td>{{message['date']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action valign-wrapper">
                <i class="material-icons teal-text">delete</i>
                <a (click)="messageService.clear()">
                    <strong class="teal-text"> Clear history</strong>
                </a>
            </div>
        </div>
    </div>
</div>
