<div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
        <div class="card z-depth-3">
            <div class="card-content blue-grey-text text-darken-1">
                <span class="card-title">
                    <strong>Historic of selected Heroes ({{messageService.messages.length}} selected)</strong>
                </span>
                <table *ngIf="messageService.messages.length > 0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Action</th>
                            <th>Selected Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let message of messageService.messages">
                            <td>{{message['id']}}</td>
                            <td>{{message['name']}}</td>
                            <td>{{message['action']}}</td>
                            <td>{{message['date']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action valign-wrapper">
                <a class="blue-grey-text text-darken-1 valign-wrapper" (click)="messageService.clear()">
                    <i class="material-icons">delete</i> Clear history
                </a>
            </div>
        </div>
    </div>
</div>
